/******************************
GENERAL
******************************/
a {
	text-decoration: none;
}

#wrapper {
	max-width: 940px;
	margin: 0 auto;
	padding: 0 5%;
}

/******************************
HEADING
******************************/
header {
	float: left;
	margin: 0 0 30px 0;
	padding: 20px 0 0 0;
	width: 100%;
}

#logo {
	text-align: center;
	margin: 0;
}

h1 {
	font-family: 'Play', sans-serif;
	margin: 15px 0;
	font-size: 2.5em;
	font-weight: normal;
	line-height: 2em;
}

h2 {
	font-size: 0.75em;
	margin: -5px 0 0;
	font-weight: normal;
}

/******************************
NAV
******************************/
nav {
	text-align: center;
	padding: 10px 0;
	margin: 20px 0 0;
}

nav ul {
	list-style: none;
	margin: 0 10px;
	padding: 0;
}
	
nav li {
	display: inline-block;
}

#navigation li a {
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-size: 1.18em;
	padding: 15px 10px;
	line-height: 1.7em;
}

#navigation a:hover {
	/*font-size: 2.5em;*/
}


/******************************
SECTION
******************************/



/******************************
FOOTER
******************************/



/******************************
COLOURS
******************************/
body {
	background-color: #eee;
}

header {
	background-color: #3F51B5;
}

h1 {
	color: #fff;
}

nav {
	background-color: #303F9F;
}

#navigation li a {
	color: #fff;
}

nav a.selected {
	text-decoration: underline;
}

section {
	background-color: #7D9EC0;
}

footer {
	background-color: #212121;
}