@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700);

/* Element selectors */
* {
	margin: 0;
	padding: 0;

	font-family: 'Noto Sans', sans-serif;
	/*font-size: 1em;*/
	letter-spacing: .06em;
	font-weight: 300;

	color: #222;
	list-style: none;
	
}

h1 {
	font-size: 3.3em;
	letter-spacing: .14em;
	margin-left: -2px;
}

h2 {
	font-size: 1.5em;
}

/* ID selectors */
#wrapper {
	width: 50%;
	margin: auto;
}

/* Class selectors */
.heading h2	{
	margin-top: 6px;
}

.linkbar {
	margin-top: 35px;
}

.linkbar li {
	font-size: 1.5em;
	display: inline-block;
	padding-right: 10px;
}

.linkbar a {
	width: 100%;
}

.content {
	margin-top: 15px;
	border-top: 2px #222 solid;
}

.content-section {
	margin-top: 35px;
}

.content-section > h2 {
	text-decoration: underline;
}

.sublist {
	margin-top: 10px;
}

.list-item {
	margin-bottom: 10px;
}

.item-header, .article-links {
	font-size: 1.1em;
}

.article-links {
	margin-top: 2.5px;
}

.article-links li {
	display: inline-block;
}

.article-links li a {
	padding: 3.7px 6.5px;
}

.article-links li:first-child a {
	padding-left: 0;
}

/* Link styles */
a {
	text-decoration: none;
	/*color: rgba(46,100,209,1);*/
	color: #005CE6;
	/*box-sizing: border-box;*/
}

a:active {
	color: rgba(88, 131, 218, 1);
}

a:visited {
	/*color: rgba(62, 67, 140, 1);*/
	color: #00248F;
}

a:hover {
	/*color: rgba(46,100,209,.86);	*/
	/*color: #6699FF;*/
	text-decoration: underline;
}

/* Media queries */
@media (orientation: portrait) {
	#wrapper {
		width: 80%;
		margin: auto;
	}
	body {
		font-size: 0.8em;
	}

}