* {
	font: 'Noto Sans', sans-serif;
}

.navbar {
	margin: 0;
	opacity: 0.83;
}

.navbar-brand.active {
	color: #555;
	background-color: #e7e7e7 !important;
}

.jumbotron, .section-main {
	background-image: url("http://www.transparenttextures.com/patterns/diagonal-striped-brick.png");
}

.main-text {
	font-size: 63px;
	color: #eee;
}

section {
	padding: 100px 0;
	height: 800px;
}