/* Element selectors */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	width: 100%;
	text-align: center;
}

body {
	font-size: 1.35vw;
}

/* Link styles */

a {
	text-decoration: none;
	color: rgba(46,100,209,1);
}

a:hover {
	color: rgba(46,100,209,.86);	
}

a:active {
	color: rgba(88, 131, 218, 1);
}

a:visited {
	color: rgba(38, 82, 171, 1);
}

/* Header class selectors */

.header {
	background: linear-gradient(0deg, #000, transparent),
							radial-gradient(circle at top, transparent, rgba(0,102,255,.4)),
							#eee url('../img/background1.jpg') no-repeat center;
	background-attachment: fixed;
	background-size: cover;
	width: 100vw;
	height: 100vh;
}

.title-content {
	color: #eee;
	text-shadow: 2px 2px 3px #000;
	font-family: 'Libre Baskerville', serif;
	width: 75vw;
	margin: auto;
	padding: 25vh 0;
}

.title-content h1 {
	font-size: 6.5vw;
	line-height: 6.5vw;
	letter-spacing: 0.375vw;
	font-weight: 700;
	height: 25vh;
	padding: 8vh 0 4vh;
}

.title-content h2 {
	font-size: 3.5vw;
	line-height: 3.5vw;
	letter-spacing: 0.375vw;
	border-top: 2px solid white;
	height: 25vh;
	padding: 7vh 0 6vh;
}

/* Body class selectors */

.body {
	background: radial-gradient(circle, #fff, rgba(0,0,0,.14) 110%);
	padding: 0 12.5vw;
}

.primary-content {
	/*width: 70vw;*/
	margin: auto;
	padding: 6vw 0;
}

.primary-content p {
	text-align: justify;
	color: #555;
	font-size: 1.5em;
	line-height: 2.4em;
}

.break1 {
	margin: 0.5vw 0;
}

/* Contact info class selectors */

.contact-info {
	/*width: 70%;*/
	margin: auto;
	border-top: 2px solid #555;
	padding: 2vw 0 6vw;
}

.contact-info h2 {
	color: #555;
	font-size: 2.5em;
	line-height: 2.4em;
	font-family: 'Libre Baskerville', serif;
	margin-bottom: -.5vw;
}

.contact-info ul {
	width: 100%;
	margin: auto;
	color: #555;
	font-family: 'Noto Serif', serif;
	font-size: 1.8em;
	line-height: 2.4em;
	list-style: none;
}

/* Media queries */

@media (orientation: portrait) {
	body {
		font-size: 1.65vw;
	}

	.header {
		height: 60vh; /* 60% sizing for all height-based sizes within header must be applied */
	}

	.title-content {
		width: 80vw;
		padding: 15vh 0;
	}

	.title-content h1, h2{
		height: 15vh;
		padding: 3.3vh 0;
	}

	body {
		padding-top: 0 10vw;
	}
}