* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Comfortaa', cursive;
	font-size: 18px;
}

body {
	background: radial-gradient(closest-side at 610px 350px, rgba(0,0,0,0.1), rgba(0,0,0,0.3)), #444450;
	text-align: center;
}

h1 {
	font-size: 60px;
	color: #fff;
	margin: 12px 0 18px;
	font-family: 'Fredoka One', cursive;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

canvas {
	margin-bottom: 30px;
	background: white;
	border-radius: 5px;
	cursor: url(../img/cursor.png), crosshair;
	box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.3);
}

#colourSelect {
	margin-bottom: 30px;
}

#colourSelect ul {
	list-style: none;
}

#colourSelect li {
	height: 57px;
	width: 57px;
	border-radius: 57px;
	display: inline-block;
	margin: 0 4px 0 4px;
	cursor: pointer;
	box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.3);
}

#colourSelect li div {
	height: 20px;
	width: 20px;
	background: #fff no-repeat center/150% url("../img/cancel.png");
	border-radius: 10px;
	position: relative;
	top: -3px;
	right: -3px;
	border: black 1px solid;
	float: right;
	display: none;
}

#colourSelect .red {
	background: #ff3333;
}

#colourSelect .green {
	background: #33ff33;
}

#colourSelect .blue {
	background: #3333ff;
}

.selected {
	border: -2px white solid;
	box-shadow: 0 0 0 5px white inset, 0px 0px 10px 3px rgba(0, 0, 0, 0.3) !important;
}

#toggleDropdown {
	margin-bottom: 15px;
}

#toggleDropdown button {
	width: 200px;
	height: 45px;
	/*font-size: 18px;*/
	border-radius: 5px;
	border: none;
	background: #1D61DC;
	color: #fff;
	box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.3);
}

#toggleDropdown button:focus, #toggleDropdown button:hover {
	background: #1E6AF0;
}

#dropdownContainer {
	display: none;
}

#arrowUp {
	width: 0; 
	height: 0; 
	border-left: 14px solid transparent;
	border-right: 14px solid transparent;	
	border-bottom: 20px solid white;
	margin: 0 auto;
}

#newColourDropdown {
	width: 500px;
	height: 241.5px;
	margin: 0 auto 15px;
	background: #fff;
	border-radius: 5px;
	box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.3);
}

#newColourSelect {
	/*height: 75%;*/
	height: 187.5px;
	padding: 18px 2.5% 22px;
}

	#newColourDemo {
		height: 145px;
		width: 145px;
		float: left;
		display: inline-block;
		margin-right: 20px;
	}

	#newColourSliders {
		height: 100%;
		width: 60%;
		display: inline-block;
		text-align: left;
		padding-bottom: 10px;
		font-size: 16px;
	}

		#newColourSliders div {
			margin: 1% 0;
			height: 23.75%;
		}

		#newColourSliders label {
			display: inline-block;
			width: 25%;
			vertical-align: middle;
		}

		#newColourSliders input {
			width: 65%;
			margin-left: 15px;
			height: 100%;
			display: inline-block;
			vertical-align: middle;
		}

		#blue {
			color: blue;
		}

		#red {
			color: red;
		}

		#green {
			color: green;		
		}

#addNewColour {
	height: 55px;
	width: 100%;
	background: #1D61DC;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

#addNewColour button {
	height: 100%;
	width: 80%;
	border: none;
	background: #1D61DC;
	font-size: 22px;
	color: #fff;
	cursor: pointer;
}

#addNewColour button:focus, #addNewColour button:hover {
	background: #1E6AF0;
}

#addNewColour:focus, #addNewColour:hover {
	background: #1E6AF0;
}